@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  list-style: none;
}
html,
body {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}
.app {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #320b52;
  background-image: linear-gradient(135deg, #320b52 0%, #7d0170 100%);
}
